body{font-family:arial; margin:0; background-image:url(../img/bg.jpg); background-repeat:no-repeat;     background-color: #61D0D1; -webkit-background-size: cover;   -moz-background-size: cover;  -o-background-size: cover;   background-size: cover;} 
.bg-aloha{  font-family:arial; margin:0; background-image:url(../img/bg.jpg); background-repeat:no-repeat;     background-color: #61D0D1; -webkit-background-size: cover;   -moz-background-size: cover;  -o-background-size: cover;   background-size: cover;} 
.item{display:block;width:100%; margin-bottom:20px;}
.item span{display:block; float:left; position:absolute; margin-top:14px; color:#fff; margin-left:10px; }
.item input[type=text]{height:44px;  border:0; padding-left:10%; width:85%; font-size:14px;font-size:14px; color:#fff; background-color:#3b9e9e; border-radius:6px;}
.item input[type=password]{height:44px; border:0; padding-left:10%;width:85%;font-size:14px; color:#fff; background-color:#3b9e9e; border-radius:6px;}

.
.title{background-color:#39F; font-weight:normal; text-align:center; margin:0; color:#fff; text-transform:uppercase; padding:10px; margin-bottom:20px;}

.button{  width:100%; border-radius:6px; display:block; background-color:#125151; color:#fff; font-size:14px; text-align:center; margin:0 auto; border:0; height:40px;}

#msgerror{border-radius: 5px;
    width: 95%;
    text-align: center;
    background-color: #DC1313;
    margin: 0 auto;
    height: 30px;
    padding-top: 10px;
    color: #fff; display:none;}
	
	
	#infop{font-weight:bold; padding:20px}


::-webkit-input-placeholder {
   color:#fff;
}

:-moz-placeholder {
   color:#fff;
}

::-moz-placeholder {
   color:#fff;
}

:-ms-input-placeholder {  
   color:#fff;
}


@media (max-width: 680px) {
.item input[type=text]{height:44px;  border:0; padding-left:25%; width: 100%; font-size:14px; color:#fff; background-color:#3b9e9e; border-radius:6px;}

.item input[type=password]{height:44px; border:0; padding-left:25%;width: 100%;color:#fff; background-color:#3b9e9e; border-radius:6px;}

.button{  width:100%; border-radius:6px; display:block; background-color:#125151; color:#fff; font-size:14px; text-align:center; margin:0 auto; border:0; height:44px; }
	
}

.btn_iniciar_leitura
{

    background-color: #125151;
    width: 50%;
    padding: 17px;
    text-align: center;
    display: block;
    border-radius: 10px;
    margin: 0 auto;
}

#lista_convidados{
  padding:0;
}

#lista_convidados li:nth-child(odd){
  background:#fff;
  color: #125151;
}

#lista_convidados li{

padding: 10px;
    font-size: 12pt;    list-style: none;padding-left: 40px;
}


.header {
    pointer-events: all;
    position: fixed;
    height: 50px;
    z-index: 999999;
    background-color: #C6EDEE !important;
    width: 100%;
    max-height: 100%;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transition: all 350ms ease-in-out;
    display:none;
    font-size: 30px;
    
}

 .sidebar-navigation li a i:first-child {
    position: absolute;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    left: 10px;
    font-size: 21px;
    color: #bcbdbd;
}

 .sidebar-divider {
    background-color: #FFF;
    height: 50px;
    font-size: 14px; 
    text-transform: uppercase;
 
    color: #636464;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    border-top: solid 1px rgba(255,255,255,0.1);
    line-height: 50px;
    padding-left: 30px;
}


.sidebar-navigation li {
    position: relative;
    overflow: hidden;
    display: block;
    list-style: none;
    line-height: 60px;
    border-bottom: solid 1px rgba(255,255,255,0.05);
    margin-bottom: 0px;
}


.sidebar-navigation li a:hover {
    background-color: rgba(255,255,255,0.05);
}

.sidebar-navigation li a {
    padding-left: 70px;
    color: #FFFFFF;
 
    border-bottom: solid 1px rgba(0,0,0,0.2);
    transition: all 350ms ease;
}

.intext{    padding: 10px;
    width: 60%;
    /* float: left; */
    border-radius: 10px;
    background-color: #0E9DAF;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    display: inline-block;
    position: relative;}


    .app{margin-top:50px;}